@media(min-width: 768px) {
  .btn {
    font-size: 3.5rem;
  }

  .header {
    &__main-title {
      font-size: 6rem;
    }

    &__main-text {
      font-size: 3rem;
      padding: 0 4em;
    }

    .btn-info {
      width: 70px;
      height: 70px;
    }

    .fa-arrow-down {
      font-size: 2.5rem;
    }
  }

  .nav {
    &__navbar-a {
      font-size: 3rem;
    }
  }

  .about {
    .section-title {
      font-size: 5.5rem;
    }


    &__text {
      font-size: 3rem;
    }

    &__info-list {
      font-size: 3rem;
    }

    &__info-a  {
      font-size: 2.8rem;
    }
  }
}
