@-webkit-keyframes btnInfoAnimation {
  0% {
    bottom: 3%;
  }
  40% {
    bottom: 4%;
  }
  100% {
    bottom: 3%;
  }
}

@keyframes btnInfoAnimation {
  0% {
    bottom: 3%;
  }
  40% {
    bottom: 4%;
  }
  100% {
    bottom: 3%;
  }
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: translateX(1);
            transform: translateX(1);
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: translateX(1);
            transform: translateX(1);
  }
}

a {
  text-decoration: none;
}

.btn {
  background: none;
  border: none;
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 2.2rem;
  background-color: #da0037;
  border-radius: 8px;
  color: #e4e4e4;
  cursor: pointer;
}

.active--link {
  color: #da0037;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  max-width: 1400px;
}

.section-title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  color: #171717;
}

.section-title span {
  color: #da0037;
}

.hr {
  height: 2px;
  width: 80px;
  margin-top: 1em;
  background-color: #da0037;
}

.hr2 {
  height: 2px;
  width: 40px;
  margin-top: 0.5em;
  background-color: #da0037;
}

.progress *:not([data-progress]) {
  margin: 5px 0;
  font-size: 2rem;
}

.progress {
  width: 100%;
  margin-top: 5em;
}

.progress [data-progress] {
  height: 15px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  background-color: #ededed;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 1em 0 1em 0;
  overflow: hidden;
}

[data-progress]::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da0037), color-stop(50%, #da0037), color-stop(50%, #da0037));
  background-image: linear-gradient(#da0037, #da0037 50%, #da0037 50%);
  width: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: white;
  padding: 0 3px;
  -webkit-transition: 2s;
  transition: 2s;
}

[data-progress].animate-progress::after {
  width: var(--animate-progress);
}

.scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  font-size: 2rem;
  color: #a5b5a7;
  z-index: 1000;
}

.scrollToTopBtn-white {
  color: #e4e4e4;
}

.visible {
  display: block;
}

.scroll-nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("../img/people_640.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header__shadow-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2em;
  z-index: 2;
}

.header__main-title, .header__main-text {
  text-align: center;
  color: #e4e4e4;
}

.header__main-title {
  font-size: 2.8rem;
}

.header__main-title span {
  color: #da0037;
}

.header__main-text {
  font-size: 1.8rem;
  width: 100%;
  margin-top: 1em;
  padding: 0 1em;
}

.header .btn-info {
  position: absolute;
  bottom: 3%;
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  text-decoration: none;
  background-color: #da0037;
  border: 2px solid transparent;
  border-radius: 8px;
  color: #e4e4e4;
  z-index: 2;
  -webkit-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s;
  -webkit-animation: btnInfoAnimation 1.5s infinite;
          animation: btnInfoAnimation 1.5s infinite;
}

.header .btn-info:hover {
  border: 2px solid #da0037;
}

.header .btn-info:hover,
.header .btn-info:hover .fa-arrow-down {
  background: transparent;
  color: #da0037;
}

.header .fa-arrow-down {
  font-size: 1.6rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  -webkit-transform: translateX(102%);
          transform: translateX(102%);
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 100;
}

.header .mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__menu-mobile-a {
  display: block;
  text-transform: uppercase;
  color: #e4e4e4;
  padding: 1em;
  font-size: 2.2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.header hr {
  width: 50%;
}

.header .menu--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav {
  position: fixed;
  min-height: 10vh;
  padding: 1em;
  width: 100%;
  z-index: 102;
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.nav__navbar .burger-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  background: none;
  border: none;
  padding: 2em;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 102;
}

.nav__navbar .burger-btn:focus {
  outline: none;
  border: 1px solid #da0037;
  border-radius: 8px;
}

.nav__navbar .burger-btn:hover .burger-btn__bars::after,
.nav__navbar .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}

.nav__navbar .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}

.nav__navbar .burger-btn__bars, .nav__navbar .burger-btn__bars::after, .nav__navbar .burger-btn__bars::before {
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  content: "";
  background-color: #e4e4e4;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav__navbar .burger-btn__bars {
  width: 100%;
}

.nav__navbar .burger-btn__bars::after {
  top: 13px;
  width: 60%;
}

.nav__navbar .burger-btn__bars::before {
  top: 27px;
  width: 100%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav__navbar-a {
  display: block;
  text-transform: uppercase;
  color: #da0037;
  padding: 1em;
  font-size: 2.2rem;
  font-weight: bold;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__navbar-a:hover {
  color: #e4e4e4;
}

.nav__navbar-a span {
  color: #e4e4e4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__navbar-a:hover span {
  color: #da0037;
}

.nav__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__menu-a {
  text-transform: uppercase;
  color: #e4e4e4;
  padding: 1em;
  font-size: 2.2rem;
  font-weight: bold;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__menu-a:hover {
  color: #da0037;
}

.nav__menu-medium {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main {
  position: relative;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-margin-top: 60px;
  padding: 6em 2em;
}

.about__portrait {
  display: none;
}

.about__aside {
  width: 100%;
}

.about__box {
  padding: 1em;
}

.about__text {
  font-size: 2rem;
  margin-top: 1em;
  color: #444444;
}

.about__info {
  padding: 1em;
  width: 100%;
}

.about__info-a {
  display: inline-block;
  padding: 1em 2em;
  margin-top: 2em;
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid transparent;
  background-color: #da0037;
  border-radius: 8px;
  color: #e4e4e4;
  -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.about__info-a:hover {
  background-color: #fff;
  border: 2px solid #da0037;
  color: #da0037;
  -webkit-animation: scaleAnimation 0.5s;
          animation: scaleAnimation 0.5s;
}

.about__info-a:first-of-type {
  margin-right: 0.4em;
  margin-right: 0.4em;
}

.about__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin-top: 1em;
}

.about__info-list h3 {
  color: #171717;
}

.about__info-list span {
  color: #444444;
  width: 60%;
}

.about__info-list span::before {
  display: inline-block;
  content: ":";
  padding-right: 0.8em;
  content: ":";
  padding-right: 0.8em;
  text-align: center;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 2em;
}

.resume__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume__text {
  font-size: 2rem;
  margin-top: 1em;
  text-align: center;
  color: #444444;
}

.resume__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2em;
  margin-top: 8em;
  padding: 1em;
}

.resume__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
          box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
}

.resume .fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  width: 80px;
  height: 80px;
  background-color: #da0037;
  border-radius: 8px;
}

.resume .fab,
.resume .fas {
  color: #e4e4e4;
  font-size: 4rem;
}

.resume__title-box {
  font-size: 2.3rem;
  margin-bottom: 1em;
}

.resume__date-box {
  font-size: 1.6rem;
  margin-bottom: 1em;
  color: #da0037;
}

.resume__text-box {
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #444444;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 2em;
}

.skills__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__text {
  font-size: 2rem;
  margin-top: 1em;
  text-align: center;
  color: #444444;
}

.skills__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2em;
  margin-top: 8em;
  padding: 1em;
}

.skills__title-box {
  font-size: 4rem;
  margin-bottom: 1em;
}

.skills__title-box span {
  color: #da0037;
}

.skills__text-box {
  font-size: 2rem;
  color: #444444;
}

.skills__box-container-portrait {
  display: none;
}

.skills-btn {
  display: inline-block;
  padding: 1em 2em;
  margin-top: 1.2em;
  text-decoration: none;
  font-size: 1.8rem;
  background-color: #da0037;
  border: 2px solid transparent;
  border-radius: 8px;
  letter-spacing: 2px;
  color: #e4e4e4;
  -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.skills-btn:hover {
  background-color: #fff;
  border: 2px solid #da0037;
  color: #da0037;
  -webkit-animation: scaleAnimation 0.5s;
          animation: scaleAnimation 0.5s;
}

.counters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2em;
  padding: 6em 3em;
}

.counters__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em 2em;
  -webkit-box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
          box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
}

.counters__box-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #da0037;
  border-radius: 8px;
}

.counters .fas {
  font-size: 5rem;
  color: #e4e4e4;
}

.counters__number, .counters__text {
  margin-top: 0.5em;
}

.counters__number {
  font-size: 6rem;
}

.counters__text {
  font-size: 2.2rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 2em;
  scroll-margin-top: 60px;
}

.services__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__text {
  font-size: 2rem;
  margin-top: 1em;
  text-align: center;
  color: #444444;
}

.services__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2em;
  margin-top: 8em;
  padding: 1em;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
          box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
}

.services .fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  width: 100px;
  height: 100px;
  background-color: #da0037;
  border-radius: 8px;
}

.services .fab,
.services .fas {
  color: #e4e4e4;
  font-size: 5rem;
}

.services__title-box {
  font-size: 2.6rem;
  margin-bottom: 1em;
}

.services__text-box {
  font-size: 1.6rem;
  line-height: 2em;
  color: #444444;
}

.services .services-btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1em 2em;
  background-color: #da0037;
  border-radius: 8px;
  margin-top: 2em;
  letter-spacing: 2px;
  color: #e4e4e4;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.services .services-btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.services .fa-chevron-right {
  font-size: 1.6rem;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 2em;
}

.works__title-box {
  padding: 1em;
}

.works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.works__text {
  font-size: 2rem;
  margin-top: 1em;
  text-align: center;
  color: #444444;
}

.works__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6em 0;
}

.works-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  margin-top: 1em;
  font-size: 1.6rem;
  background: transparent;
  border: 2px solid #da0037;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 2px;
  color: #da0037;
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  transition: transform 0.3s, background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
}

.works-btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #da0037;
  color: #e4e4e4;
}

.works-btn-one {
  display: inline-block;
  padding: 1em 2em;
  font-size: 1.6rem;
  background-color: #da0037;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 2px;
  color: #e4e4e4;
  -webkit-transition: background 0.3s, border 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, border 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, border 0.3s, color 0.3s, transform 0.3s;
  transition: background 0.3s, border 0.3s, color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.works-btn-one:hover {
  background: none;
  border: 2px solid #da0037;
  color: #da0037;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.works__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2em;
  padding: 1em;
}

.works__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works img {
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
          box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
}

.hire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 2em;
  background-color: #da0037;
}

.hire__title {
  font-size: 3rem;
  text-align: center;
  color: #e4e4e4;
}

.hire-btn {
  padding: 1em 2em;
  margin-top: 2em;
  font-size: 1.6rem;
  letter-spacing: 2px;
  background-color: #e4e4e4;
  border: 2px solid transparent;
  border-radius: 8px;
  color: #da0037;
  -webkit-transition: background 0.3s, border 0.3s, color 0.3s;
  transition: background 0.3s, border 0.3s, color 0.3s;
}

.hire-btn:hover {
  background: none;
  border: 2px solid #e4e4e4;
  color: #e4e4e4;
  -webkit-animation: scaleAnimation 0.5s;
          animation: scaleAnimation 0.5s;
}

.myclients {
  padding: 6em 2em;
  background-color: #eee;
}

.myclients__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myclients__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myclients__text {
  font-size: 2rem;
  margin-top: 1em;
  text-align: center;
  color: #444444;
}

.myclients__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin-top: 6em;
}

.myclients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em;
  margin: 2em;
  border-radius: 8px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
          box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.myclients__box:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.myclients__box-img img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.myclients__box-info {
  margin-top: 1em;
}

.myclients__box-info span {
  font-size: 1.6rem;
  color: #da0037;
}

.myclients__box-title {
  margin-bottom: 1em;
  font-size: 2rem;
}

.myclients__box-text {
  margin-top: 1em;
  font-size: 1.6rem;
  color: #444444;
}

.myclients .fa-star {
  margin-top: 1em;
  font-size: 2rem;
  color: #da0037;
}

.myteam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 2em;
}

.myteam__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myteam__text {
  margin-top: 1em;
  font-size: 2rem;
  text-align: center;
}

.myteam__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6em;
}

.myteam__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5em;
}

.myteam__box img {
  width: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
          box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
}

.myteam__box h3 {
  margin-top: 1em;
  font-size: 2.4rem;
}

.myteam__box span {
  display: block;
  margin-top: 0.5em;
  font-size: 2.2rem;
  color: #da0037;
}

.myteam__box .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5em;
}

.myteam__box .socials i {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.myteam__box .socials i:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.myteam__box .fab {
  font-size: 5rem;
  margin: 0.2em;
  color: #da0037;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 2em;
}

.pricing__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__text {
  margin-top: 1em;
  font-size: 2rem;
  text-align: center;
}

.pricing__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6em;
}

.pricing__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
  padding: 2em;
  -webkit-box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
          box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
}

.pricing__box h5 {
  font-size: 1.8rem;
  padding: 1em 2em;
  background-color: #da0037;
  border-radius: 8px;
  letter-spacing: 2px;
  color: #e4e4e4;
}

.pricing__box-value {
  text-align: center;
  margin-top: 3em;
}

.pricing__box-value p {
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
}

.pricing__box-value span {
  font-size: 2rem;
  color: #444444;
}

.pricing__box-list {
  list-style-type: none;
  margin-top: 3em;
}

.pricing__box-list li {
  margin: 1em 0;
  font-size: 2rem;
  color: #444444;
}

.pricing-btn {
  display: block;
  margin-top: 2em;
  padding: 1em 2em;
  background-color: #da0037;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #e4e4e4;
  -webkit-transition: background 0.3s, color 0.3s, border 0.3s;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.pricing-btn:hover {
  background: none;
  color: #da0037;
  border: 2px solid #da0037;
  -webkit-animation: scaleAnimation 0.5s;
          animation: scaleAnimation 0.5s;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-margin-top: 60px;
  padding: 6em 2em;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__text {
  margin-top: 1em;
  font-size: 2rem;
  text-align: center;
}

.blog__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6em;
}

.blog__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
  -webkit-box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
          box-shadow: 0 0 20px rgba(68, 68, 68, 0.192);
}

.blog__box-img {
  width: 100%;
  overflow: hidden;
}

.blog__box-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.blog__box-content {
  padding: 2em;
}

.blog__box-content h5 {
  font-size: 2.4rem;
}

.blog__box-content p {
  font-size: 1.8rem;
  margin: 1em 0;
}

.blog__box-meta {
  margin: 1em 0 2em 0;
}

.blog__box-meta span {
  margin-right: 1em;
  font-size: 1.8rem;
}

.blog__box-meta .far {
  margin-right: 0.4em;
  color: #da0037;
}

.blog__box-btn {
  display: inline-block;
  margin-top: 0.5em;
  padding: 1em 2em;
  background-color: #da0037;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: #e4e4e4;
  -webkit-transition: background 0.3s, border 0.3s, color 0.3s;
  transition: background 0.3s, border 0.3s, color 0.3s;
}

.blog__box-btn:hover {
  background: none;
  border: 2px solid #da0037;
  color: #da0037;
  -webkit-animation: scaleAnimation 0.5s;
          animation: scaleAnimation 0.5s;
}

.blog__box-btn .fas {
  margin-left: 0.5em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-margin-top: 60px;
  padding: 6em 2em;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__text {
  margin-top: 1em;
  font-size: 2rem;
  text-align: center;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6em;
}

.contact__form-minbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact__form-box {
  width: 100%;
}

.contact__form-box textarea {
  resize: vertical;
}

.contact__form-box input,
.contact__form-box textarea {
  padding: 1em 2em;
  margin-bottom: 2em;
  width: 100%;
  color: #444444;
  background: none;
  border: 1px solid #6e6e6e;
  border-radius: 8px;
}

.contact__form-box input:focus,
.contact__form-box textarea:focus {
  outline: none;
  border: 1px solid #da0037;
}

.contact__form-btn {
  padding: 1em 2em;
  background-color: #da0037;
  border: 2px solid transparent;
  border-radius: 8px;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  color: #e4e4e4;
  -webkit-transition: color 0.3s, background 0.3s, border 0.3s, outline 0.3s;
  transition: color 0.3s, background 0.3s, border 0.3s, outline 0.3s;
  cursor: pointer;
}

.contact__form-btn:hover, .contact__form-btn:focus {
  outline: none;
  color: #da0037;
  background: none;
  border: 2px solid #da0037;
  -webkit-animation: scaleAnimation 0.5s;
          animation: scaleAnimation 0.5s;
}

.socialsBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5vh;
  width: 100%;
  background-color: #171717;
  padding: 6em 1em;
}

.socialsBtns__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2em 0;
}

.socialsBtns__logo {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  color: #da0037;
}

.socialsBtns__logo:hover {
  color: #e4e4e4;
}

.socialsBtns__logo span {
  color: #e4e4e4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.socialsBtns__logo:hover span {
  color: #da0037;
}

.socialsBtns__box-links {
  margin-top: 4em;
}

.socialsBtns__box-links a {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0.2em;
  background-color: #212529;
  border-radius: 8px;
  text-align: center;
  font-size: 2rem;
  color: #e4e4e4;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.socialsBtns__box-links a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em 2em;
  background-color: #212529;
}

.footer__text {
  font-size: 1.2rem;
  color: #e4e4e4;
}

.footer__link {
  color: #da0037;
}

@media (min-width: 576px) {
  .btn {
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
  .btn:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .footer__text {
    font-size: 1.8rem;
  }
}

@media (min-width: 710px) {
  .nav .burger-btn {
    display: none;
  }
  .nav__menu-medium {
    display: block;
  }
  .myteam__boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .myteam__info .section-title {
    font-size: 5rem;
  }
  .myteam__text {
    font-size: 2.8rem;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size: 3rem;
  }
  .header__main-title {
    font-size: 6rem;
  }
  .header__main-text {
    font-size: 3rem;
    padding: 0 4em;
  }
  .header .fa-arrow-down {
    font-size: 2.5rem;
  }
  .navi__navbar-a {
    font-size: 3rem;
  }
  .about .section-title {
    font-size: 4.5rem;
  }
  .about__text {
    font-size: 2.6rem;
  }
  .about__info-list {
    font-size: 2.6rem;
  }
  .about__info-a {
    font-size: 2.4rem;
  }
  .about__info-a {
    font-size: 2.4rem;
  }
  .resume__boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .resume .section-title {
    font-size: 5rem;
  }
  .resume__text {
    font-size: 2.8rem;
  }
  .resume .fb {
    width: 100px;
    height: 100px;
  }
  .resume .fab,
  .resume .fas {
    font-size: 5rem;
  }
  .resume__title-box {
    font-size: 3rem;
  }
  .resume__date-box {
    font-size: 2.4rem;
  }
  .resume__text-box {
    font-size: 2.4rem;
  }
  .skills .section-title {
    font-size: 5rem;
  }
  .skills__text {
    font-size: 2.8rem;
  }
  .skills__text-box {
    font-size: 2.8rem;
  }
  .skills .progress *:not([data-progress]) {
    font-size: 3rem;
  }
  .skills .progress [data-progress] {
    height: 2.2em;
  }
  .skills [data-progress]::after {
    font-size: 2rem;
  }
  .skills-btn {
    font-size: 3rem;
  }
  .counters {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .services__boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .services__title-box {
    font-size: 3rem;
    margin-bottom: 1em;
  }
  .services__text-box {
    font-size: 2.4rem;
    line-height: 2em;
    color: #444444;
  }
  .services .services-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 2.4rem;
    padding: 1em 2em;
    background-color: #da0037;
    border-radius: 8px;
    margin-top: 2em;
    letter-spacing: 2px;
    color: #e4e4e4;
  }
  .services .fa-chevron-right {
    font-size: 2.4rem;
  }
  .services .section-title {
    font-size: 5rem;
  }
  .services__text {
    font-size: 2.8rem;
  }
  .works__boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .works__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works-btn {
    margin-top: 0;
    margin-left: 1em;
    font-size: 2rem;
  }
  .works-btn-one {
    font-size: 2rem;
  }
  .works .section-title {
    font-size: 5rem;
  }
  .works__text {
    font-size: 2.8rem;
  }
  .hire__title {
    font-size: 4rem;
  }
  .hire-btn {
    font-size: 2.4rem;
  }
  .myclients__info .section-title {
    font-size: 5rem;
  }
  .myclients__text {
    font-size: 2.8rem;
  }
  .pricing__boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pricing__box {
    width: 45%;
    margin-top: 0;
    margin: 1em;
  }
  .pricing__box:last-of-type {
    margin-top: 2em;
  }
  .pricing .section-title {
    font-size: 5rem;
  }
  .pricing__text {
    font-size: 2.8rem;
  }
  .blog__boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog__box {
    width: 45%;
    margin-top: 0;
    margin: 1em;
  }
  .blog__box-img img {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .blog__box-img img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .blog__box:last-of-type {
    margin-top: 2em;
  }
  .blog .section-title {
    font-size: 5rem;
  }
  .blog__text {
    font-size: 2.8rem;
  }
  .contact__info .section-title {
    font-size: 5rem;
  }
  .contact__text {
    font-size: 2.8rem;
  }
  .contact__form-minbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%;
    max-width: 992px;
  }
  .contact__form-box {
    width: 48%;
    max-width: 992px;
  }
  .contact__form-box:nth-child(3) {
    width: 100%;
  }
  .contact__form-box:last-child {
    width: 100%;
  }
  .contact__form-btn {
    font-size: 2.4rem;
  }
  .socialsBtns {
    padding: 6em 2em;
  }
  .socialsBtns__box-links a {
    margin: .5em;
  }
}

@media (min-width: 992px) {
  .header {
    background-image: url("../img/people_1920.jpg");
  }
  .myteam__boxes {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1050px) {
  .nav__menu {
    display: block;
  }
  .nav__menu-medium {
    display: none;
  }
}

@media (min-width: 1024px) {
  .about .section-title {
    font-size: 3.2rem;
  }
  .about__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
  }
  .about__text {
    font-size: 2.4rem;
  }
  .about__info-list {
    font-size: 2.4rem;
  }
  .about__info-a {
    font-size: 2.4rem;
  }
  .about__portrait {
    display: block;
    width: 50%;
    padding: 1em;
  }
  .about__portrait img {
    background-size: cover;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-width: 570px;
    min-width: 570px;
  }
  .about__aside {
    width: 60%;
    width: 100%;
    padding: 2em;
    min-width: 450px;
    border-radius: 8px;
  }
  .skills__boxes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .skills__box-container-portrait {
    display: block;
  }
  .skills__box-container-portrait img {
    width: 100%;
    max-height: 740px;
    min-height: 740px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .counters {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .services__boxes {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .works__boxes {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .hire {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .hire-btn {
    margin-top: 0;
  }
  .myteam__boxes {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .pricing__boxes {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .pricing__box {
    width: 33%;
    margin-top: 0;
    margin: 0 2em;
  }
  .pricing__box:last-of-type {
    margin-top: 0;
  }
  .blog__boxes {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .blog__box {
    width: 33%;
    margin-top: 0;
    margin: 0 2em;
  }
  .blog__box:last-of-type {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */
